---
import Layout from "../layouts/Layout.astro";
import Presentation from "../components/Presentation.astro";
import ImageContainer from "../components/ImageContainer.astro";
import About from "../components/About.astro";
import "@fontsource-variable/exo";
import "@fontsource-variable/pixelify-sans";
---

<Layout title="Damian Bruzzoni">
  <main class="grid w-full content-center lg:gap-8 grid-cols-3 py-14 my-3">
    <Presentation />
    <ImageContainer />
    <About />
  </main>
</Layout>
<style>
  ::root {
    width: 100%;
    min-height: 100vh;
  }
  main {
    grid-template-areas:
      "Presentation Presentation Image"
      "About About Image"
      "About About Image";
  }
  @media only screen and (max-width: 1023px) {
    main {
      grid-template-areas:
        "Presentation Presentation Presentation"
        "Image Image Image"
        "About About About";
    }
  }
</style>
