---
import Layout from "../layouts/Layout.astro";
import Presentation from "../components/Presentation.astro";
import ImageContainer from "../components/ImageContainer.astro";
import About from "../components/About.astro";
import "@fontsource-variable/exo";
import "@fontsource-variable/pixelify-sans";
---

<Layout title="Damian Bruzzoni">
  <main
    class="grid w-full md:content-center grid-cols-3 2xl:py-24 2xl:gap-32 xl:gap-12 lg:gap-0 md:gap-16 py-14 my-3"
  >
    <Presentation />
    <ImageContainer />
    <About transition:name="section-info" />
  </main>
</Layout>
<style>
  ::root {
    width: 100%;
  }
  main {
    grid-template-areas:
      "Presentation Presentation Image"
      "About About Image"
      "About About Image";
  }
  @media only screen and (max-width: 1023px) {
    ::root {
      width: 100%;
      min-height: 100vh;
    }
    main {
      min-width: 100%;
      grid-template-areas:
        "Presentation Presentation Presentation"
        "Image Image Image"
        "About About About";
    }
    body {
      min-width: 100vw;
    }
  }
</style>
