---
import Layout from "../layouts/Layout.astro";
import ProjectsContainer from "../components/ProjectsContainer.astro";
import "@fontsource-variable/exo";
import "@fontsource-variable/pixelify-sans";
---

<Layout title="Damian Bruzzoni | Projects">
    <main class="w-full grid content-center py-14 my-3">
        <ProjectsContainer />
    </main>
</Layout>
<style>
    ::root {
        width: 100%;
        min-height: 100vh;
    }
    body {
    }
</style>
