---
import Layout from "../layouts/Layout.astro";
import ProjectsContainer from "../components/ProjectsContainer.astro";
import "@fontsource-variable/exo";
import "@fontsource-variable/pixelify-sans";
---

<Layout title="Damian Bruzzoni | Projects">
    <main>
        <ProjectsContainer transition:name="section-info" />
    </main>
</Layout>
<style>
    body {
        width: 100%;
    }
</style>
