---
import Layout from "../layouts/Layout.astro";
import ProjectsContainer from "../components/ProjectsContainer.astro";
import "@fontsource-variable/exo";
import "@fontsource-variable/pixelify-sans";
---

<Layout title="Damian Bruzzoni | Projects">
    <main class="grid content-center w-full py-14 my-3">
        <ProjectsContainer />
    </main>
</Layout>
<style>
    body {
        width: 100%;
    }
</style>
