---
import "@fontsource-variable/overpass";
---

<article class="flex flex-col gap-8 justify-start items-center w-full">
    <section
        class="flex justify-center self-center mt-14 bg-gradient-to-b from-slate-50/10 to-fuchsia-400/20 backdrop-blur-[2px] w-3/4 h-min rounded-3xl"
    >
        <h2 class="text-4xl text-white">About</h2>
    </section>
    <div
        class="flex flex-col items-center p-3 w-11/12 h-min border-l border-b border-purple-500/10 bg-gradient-to-l from-transparent to-fuchsia-400/10 backdrop-blur-[1px] shadow-2xl rounded-2xl"
    >
        <div
            class="flex justify-center p-1 text-lg bg-gradient-to-bl from-transparent to-fuchsia-600/10 rounded-xl"
        >
            <h3 class="text-white">
                Hello! I'm Damian Bruzzoni, a passionate developer diving into
                the world of web development for the past two years. My journey
                has been fueled by a deep curiosity and dedication to mastering
                the craft.<br /> I specialize in backend development, leveraging
                technologies such as <a
                    class="text-amber-200 font-medium"
                    href="https://nodejs.org/">Node.js</a
                >, <a
                    class="text-amber-200 font-medium"
                    href="https://nestjs.com/">NestJS</a
                >, <a
                    class="text-amber-200 font-medium"
                    href="https://www.typescriptlang.org/">TypeScript</a
                >, <a
                    class="text-amber-200 font-medium"
                    href="https://www.postgresql.org/">PostgreSQL</a
                >, and <a
                    class="text-amber-200 font-medium"
                    href="https://www.mongodb.com/">MongoDB</a
                > to build robust and scalable solutions.<br /> On the frontend,
                I work proficiently with
                <a
                    class="text-amber-200 font-medium"
                    href="https://reactjs.org/">ReactJS</a
                >, <a
                    class="text-amber-200 font-medium"
                    href="https://vuejs.org/">Vue.js</a
                >, and <a
                    class="text-amber-200 font-medium"
                    href="https://nextjs.org/">Next.js</a
                > (including my portfolio developed with <a
                    class="text-amber-200 font-medium"
                    href="https://astro.build/">Astro</a
                >), ensuring seamless user experiences and interfaces.<br /> Beyond
                coding, I thrive on problem-solving and refining my skills through
                continuous learning. I approach each project with enthusiasm, aiming
                to deliver efficient and elegant solutions that meet both user needs
                and technical requirements.<br /> I am eager to contribute my skills
                and collaborate with teams that value innovation and excellence in
                web development.
            </h3>
        </div>
    </div>
</article>
<style>
    article {
        grid-area: About;
    }
    section h2 {
        font-family: "Pixelify Sans Variable", system-ui;
    }
    div {
        font-family: "Onest Variable", sans-serif;
    }
    div div h3 {
        font-family: "Exo Variable", sans-serif;
    }
</style>
