<header
    class="fixed w-full h-16 bg-gradient-to-b from-slate-50/10 to-fuchsia-400/20 backdrop-blur-[2px] shadow-2xl z-50 border-b border-gray-200/10 font-extralight"
>
    <nav class="flex justify-evenly w-full">
        <a
            class="bg-transparent h-16 w-full transition-colors ease-in-out duration-500 hover:bg-gradient-to-r from-transparent via-white/5 to-transparent border-r border-gray-300/10 shadow-2xl"
            href="/"
        >
            <div
                class="flex flex-column justify-center items-center h-full w-full transition ease-in-out delay-100 hover:scale-110"
            >
                Home
            </div>
        </a>
        <a
            class="bg-transparent h-16 w-full transition-colors ease-in-out duration-500 hover:bg-gradient-to-r from-transparent via-white/5 to-transparent border-r border-gray-300/10 shadow-2xl"
            href="/about"
        >
            <div
                class="flex flex-column justify-center items-center h-full w-full transition ease-in-out delay-100 hover:scale-110"
            >
                About
            </div>
        </a>
        <a
            class="bg-transparent h-16 w-full transition-colors ease-in-out duration-500 hover:bg-gradient-to-r from-transparent via-white/5 to-transparent border-r border-gray-300/10 shadow-2xl"
            href="/projects"
        >
            <div
                class="flex flex-column justify-center items-center h-full w-full transition ease-in-out delay-100 hover:scale-110"
            >
                Projects
            </div>
        </a>
        <!-- <a class="bg-transparent h-16 w-full transition-colors ease-in-out duration-500 hover:bg-gradient-to-r from-transparent via-white/5 to-transparent shadow-2xl" href="/contact">
            <div class="flex flex-column justify-center items-center h-full w-auto transition ease-in-out delay-100 hover:scale-110 hover:relative">Contact</div>
        </a> -->
    </nav>
</header>
<style>
    header {
        font-family: "Onest Variable", sans-serif;
    }
</style>
