<article
    class="relative bg-gradient-to-b from-white/5 to-fuchsia-600/80 h-min w-full ml-10 p-3 pb-2 border-l border-fuchsia-200/40 shadow-2xl z-40"
>
    <h1 class="text-5xl font-semibold pl-3 z-50">Hey, i'm Damian Bruzzoni.</h1>
    <h2
        class="p-3 class font-medium text-2xl text-amber-200 bg-gradient-to-b from-bg-black to-transparent"
    >
        Full-stack Web Developer. From Argentina, Buenos Aires.<br /> Specializing
        in creating unique apps, focused on<br /> continuous improvement every day.
    </h2>
</article>
<style>
    h1 {
        font-family: "Exo Variable", sans-serif;
        z-index: 50;
    }
    article {
        --mask: linear-gradient(
                to right,
                rgba(0, 0, 0, 1) 0,
                rgba(0, 0, 0, 1) 40%,
                rgba(0, 0, 0, 0) 95%,
                rgba(0, 0, 0, 0) 0
            )
            100% 50% / 100% 100% repeat-x;
        -webkit-mask: var(--mask);
        mask: var(--mask);
        grid-area: Presentation;
    }
</style>
