<section class="w-full h-full">
    <div>
        <h2>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut
            perspiciatis animi non deserunt aliquam quisquam inventore sed,
            ullam cum atque maxime quam necessitatibus modi recusandae suscipit
            ipsam doloremque unde eius!
        </h2>
        <h3>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Accusantium deleniti illum magnam iure dolore quia, vitae minima
            temporibus quam consequatur praesentium harum, assumenda suscipit
            nulla, tenetur repellendus ipsa illo? Perspiciatis. Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Perferendis, pariatur
            odit saepe enim est earum corporis quasi quam nam ullam architecto
            consectetur voluptas officiis laborum error eligendi consequatur
            animi aspernatur?
        </h3>
    </div>
</section>
<style>
    section {
        grid-area: Projects;
    }
</style>
