---
interface Props {
    content: string;
}

const { content } = Astro.props;
---

<section
    class="flex justify-center self-center bg-gradient-to-b from-slate-50/10 to-fuchsia-400/20 backdrop-blur-[2px] w-3/4 h-min rounded-3xl"
>
    <h2
        class="2xl:text-5xl xl:text-4xl lg:text-3xl md:text-2xl text-2xl text-white"
    >
        {content}
    </h2>
</section>
<style>
    section h2 {
        font-family: "Pixelify Sans Variable", system-ui;
    }
</style>
